In [1]:
import pandas as pd
import numpy as np

School_dSource = "Resources/schools_complete.csv"
Student_dSource = "Resources/students_complete.csv"

SchoolData = pd.read_csv(School_dSource)
StudentData = pd.read_csv(Student_dSource)

SchoolDataMerge = pd.merge(StudentData, SchoolData, how="left", on=["school_name", "school_name"])
SchoolDataMerge.head()

MathPass = (SchoolDataMerge["math_score"] >= 70)
ReadPass = (SchoolDataMerge["reading_score"] >= 70)

DistrictSummaryDict = {"Total Schools": [SchoolData["School ID"].count()],
            "Total Students": [SchoolDataMerge["student_name"].count()],
            "Total Budget": [SchoolData["budget"].sum()],         
            "Avg Math Score": [round(SchoolDataMerge["math_score"].mean(),2)],         
            "Avg Reading Score": [round(SchoolDataMerge["reading_score"].mean(),2)],   
            "% Passing Math": [round((MathPass.sum()*100) / (len(SchoolDataMerge)),2)],
            "% Passing Reading": [round((ReadPass.sum()*100) / (len(SchoolDataMerge)),2)],
            "% Passing Overall": [round((100 * (MathPass.sum() + ReadPass.sum())) /(2 * (len(SchoolDataMerge))),2)],        
            }

DistSumm_df = pd.DataFrame(DistrictSummaryDict, index = ["District Summary"])
DistSumm_df

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Overall
District Summary,15,39170,24649428,78.99,81.88,74.98,85.81,80.39

In [2]:
import pandas as pd
import numpy as np

School_dSource = "Resources/schools_complete.csv"
Student_dSource = "Resources/students_complete.csv"

SchoolData = pd.read_csv(School_dSource)
StudentData = pd.read_csv(Student_dSource)

SD = SchoolData.sort_values(by = ["school_name"])
StD = StudentData.sort_values(by = ["school_name"])

    
SchoolDataMerge = pd.merge(StD, SD, how="left", on=["school_name", "school_name"])
SchoolDataMerge.head()

SN = list(SD["school_name"])
ST = list(SD["type"])
TS = list(SD["size"])
SB = list(SD["budget"])
PerStudentBudget = list(SD["budget"] / SD["size"])

AMS = SchoolDataMerge.groupby(["school_name"]).mean()["math_score"].round(2)
ARS = SchoolDataMerge.groupby(["school_name"]).mean()["reading_score"].round(2)

SeventyPlusRead = SchoolDataMerge[SchoolDataMerge['reading_score'] >= 70]
SeventyReadPerSch = SeventyPlusRead.groupby(["school_name"]).count()["reading_score"].round(2)
PercentPassReadPS = ((SeventyReadPerSch/TS)*100).round(2)

SeventyPlusMath = SchoolDataMerge[SchoolDataMerge['math_score'] >= 70]
SeventyMathPerSch = SeventyPlusMath.groupby(["school_name"]).count()["math_score"].round(2)
PercentPassMathPS = ((SeventyMathPerSch/TS)*100).round(2)

OverallPassPerc = (((SeventyMathPerSch/TS + SeventyReadPerSch/TS))*100/2).round(2)

SchoolSummaryDict = {
#     "school_name": SN,
                     "Type": ST,
                     "Student Count": TS,
                     "School Budget": SB,                     
                     "Per Student Budget": PerStudentBudget,
                     "Avg Math Score": AMS,
                     "Avg Reading Score": ARS,
                     "% Passing Math": PercentPassMathPS,
                     "% Passing Reading": PercentPassReadPS,
                     "% Passing Overall": OverallPassPerc                     
                     }


SchoolSumm = pd.DataFrame(SchoolSummaryDict)

BottomFive = SchoolSumm.sort_values("% Passing Overall").head(5)
TopFive = SchoolSumm.sort_values("% Passing Overall",ascending=False).head(5)

TopFive

,Type,Student Count,School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.59
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,95.29
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.27
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,95.27
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,95.20

In [3]:
BottomFive

,Type,Student Count,School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,73.29
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,73.64
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,73.80

In [4]:
SchoolDataMerge.head()
ninthgraderaw = SchoolDataMerge["grade"] == "9th"
ninthgrade = SchoolDataMerge[ninthgraderaw]

ninthgrade = SchoolDataMerge[SchoolDataMerge["grade"] == "9th"]
tenthgrade = SchoolDataMerge[SchoolDataMerge["grade"] == "10th"]
eleventhgrade = SchoolDataMerge[SchoolDataMerge["grade"] == "11th"]
twelvthgrade = SchoolDataMerge[SchoolDataMerge["grade"] == "12th"]

Schools09GrMath = ninthgrade.groupby(["school_name"]).mean()["math_score"]
Schools10GrMath = tenthgrade.groupby(["school_name"]).mean()["math_score"]
Schools11GrMath = eleventhgrade.groupby(["school_name"]).mean()["math_score"]
Schools12GrMath = twelvthgrade.groupby(["school_name"]).mean()["math_score"]



MathMeans = pd.DataFrame({"9th": Schools09GrMath,
                          "10th": Schools10GrMath,
                          "11th": Schools11GrMath,
                          "12th": Schools12GrMath                    
                         })

ninthgrade = SchoolDataMerge[SchoolDataMerge["grade"] == "9th"]
tenthgrade = SchoolDataMerge[SchoolDataMerge["grade"] == "10th"]
eleventhgrade = SchoolDataMerge[SchoolDataMerge["grade"] == "11th"]
twelvthgrade = SchoolDataMerge[SchoolDataMerge["grade"] == "12th"]

Schools09GrRead = ninthgrade.groupby(["school_name"]).mean()["reading_score"]
Schools10GrRead = tenthgrade.groupby(["school_name"]).mean()["reading_score"]
Schools11GrRead = eleventhgrade.groupby(["school_name"]).mean()["reading_score"]
Schools12GrRead = twelvthgrade.groupby(["school_name"]).mean()["reading_score"]

ReadMeans = pd.DataFrame({"9th": Schools09GrRead,
                          "10th": Schools10GrRead,
                          "11th": Schools11GrRead,
                          "12th": Schools12GrRead                    
                         })

MathMeans

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [5]:
ReadMeans

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [6]:
import pandas as pd
import numpy as np


School_dSource = "Resources/schools_complete.csv"
Student_dSource = "Resources/students_complete.csv"

SchoolData = pd.read_csv(School_dSource)
StudentData = pd.read_csv(Student_dSource)

SchoolDataMerge = pd.merge(StudentData, SchoolData, how="left", on=["school_name", "school_name"])
SchoolDataMerge.head()

SchoolTypeDF = SchoolDataMerge.groupby(["type"]).mean()[["reading_score","math_score"]]

AMS = SchoolDataMerge.groupby(["type"]).mean()["math_score"].round(2)
ARS = SchoolDataMerge.groupby(["type"]).mean()["reading_score"].round(2)

CharterData = SchoolDataMerge[SchoolDataMerge["type"] == "Charter"]
CharterCnt = CharterData.count()["type"]

DistrictData = SchoolDataMerge[SchoolDataMerge["type"] == "District"]
DistrictCnt = DistrictData.count()["type"]

TtlCntType = [CharterCnt,DistrictCnt]

SeventyPlusRead = SchoolDataMerge[SchoolDataMerge['reading_score'] >= 70]
ReadPassCnt = len(SeventyPlusRead)
SeventyReadPerType = SeventyPlusRead.groupby(["type"]).count()["reading_score"].round(2)
PercentPassReadPerType = ((SeventyReadPerType/TtlCntType)*100).round(2)


SeventyPlusMath = SchoolDataMerge[SchoolDataMerge['math_score'] >= 70]
MathPassCnt = len(SeventyPlusMath)
SeventyMathPerType = SeventyPlusMath.groupby(["type"]).count()["math_score"].round(2)
PercentPassMathPerType = ((SeventyMathPerType/TtlCntType)*100).round(2)

OverallPassPerType = (((SeventyMathPerType/TtlCntType + SeventyReadPerType/TtlCntType))*100/2).round(2)

SchoolTypeSummaryDict = {"Avg Math Score": AMS,
                        "Avg Reading Score": ARS,
                        "%Passing Math": PercentPassMathPerType,
                        "%Passing Reading": PercentPassReadPerType,
                        "%Passing Overall": OverallPassPerType
                        }

SchoolTypeSummary = pd.DataFrame(SchoolTypeSummaryDict)
SchoolTypeSummary

,Avg Math Score,Avg Reading Score,%Passing Math,%Passing Reading,%Passing Overall
type,,,,,
Charter,83.41,83.90,93.70,96.65,95.17
District,76.99,80.96,66.52,80.91,73.71

In [7]:
import pandas as pd
import numpy as np

School_dSource = "Resources/schools_complete.csv"
Student_dSource = "Resources/students_complete.csv"

SchoolData = pd.read_csv(School_dSource)
StudentData = pd.read_csv(Student_dSource)

SchoolDataMerge = pd.merge(StudentData, SchoolData, how="left", on=["school_name", "school_name"])
SchoolDataMerge.head()

SizeBins = [0, 1000, 2000, 5000]
SizeBinIndex = ["Small (<1K)", "Med (1-2K)", "Large (2-5K)"]

SchoolSizeDF = SchoolDataMerge.groupby(["size"]).mean()[["reading_score","math_score"]]
SchoolSizeDF.reset_index(inplace=True)

SchoolSizeDF.loc[:,'Size Category'] = pd.cut(SchoolSizeDF["size"],SizeBins,labels = SizeBinIndex)

AMS = SchoolSizeDF.groupby(["Size Category"]).mean()["math_score"].round(2)
ARS = SchoolSizeDF.groupby(["Size Category"]).mean()["reading_score"].round(2)

TtlStudentsPerSize = SchoolSizeDF.groupby(["Size Category"]).sum()["size"].round()

PassRead = SchoolDataMerge[SchoolDataMerge['reading_score'] >= 70]
PassRead.loc[:,"Size Category"] = pd.cut(PassRead["size"],SizeBins,labels = SizeBinIndex)
PassReadBins = PassRead.groupby("Size Category").count()["Student ID"]
PercentPassReadPerSize = ((PassReadBins/TtlStudentsPerSize)*100).round(2)

PassMath = SchoolDataMerge[SchoolDataMerge['math_score'] >= 70]
PassMath.loc[:,"Size Category"] = pd.cut(PassMath["size"],SizeBins,labels = SizeBinIndex)
PassMathBins = PassMath.groupby("Size Category").count()["Student ID"]
PercentPassMathPerSize = ((PassMathBins/TtlStudentsPerSize)*100).round(2)

OverallPassPerSize = ((PercentPassReadPerSize + PercentPassMathPerSize)/2).round(2)

SchoolSizeBinnedDict = { 
                        "Avg Math Score": AMS,
                        "Avg Reading Score": ARS,
                        "%Passing Math": PercentPassMathPerSize,
                        "%Passing Reading": PercentPassReadPerSize,
                        "%Passing Overall": OverallPassPerSize
                       }

SchoolSizeBinnedDF = pd.DataFrame(SchoolSizeBinnedDict)

SchoolSizeBinnedDF

/Users/joel/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/joel/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Avg Math Score,Avg Reading Score,%Passing Math,%Passing Reading,%Passing Overall
Size Category,,,,,
Small (<1K),83.82,83.93,93.95,96.04,95.00
Med (1-2K),83.37,83.86,93.62,96.77,95.20
Large (2-5K),77.75,81.34,68.65,82.13,75.39

In [8]:
import pandas as pd
import numpy as np


School_dSource = "Resources/schools_complete.csv"
Student_dSource = "Resources/students_complete.csv"

SchoolData = pd.read_csv(School_dSource)
StudentData = pd.read_csv(Student_dSource)

SchoolDataMerge = pd.merge(StudentData, SchoolData, how="left", on=["school_name", "school_name"])
SchoolDataMerge.head()

SchoolBudgetDF = SchoolDataMerge.groupby(["budget"]).mean()[["reading_score","math_score","size"]].round(2)
SchoolBudgetDF.reset_index(inplace=True)

BudgetBins = [0, 585, 615, 645, 675]
BudgetBinIndex = ["<$585", "$585-615", "$615-645", "$645-675"]

# BPS = budget per student

BPS = (SchoolBudgetDF["budget"] / SchoolBudgetDF["size"]).round(2)
SchoolBudgetDF["BPS"] = BPS

BudgetTest = SchoolBudgetDF["size"] * SchoolBudgetDF["BPS"]
SchoolBudgetDF["BudgetTest"] = BudgetTest

SchoolBudgetDF.loc[:,'BPSbin'] = pd.cut(SchoolBudgetDF["BPS"],BudgetBins,labels = BudgetBinIndex)
BPSdf = SchoolBudgetDF.groupby(["BPSbin"]).mean()[["reading_score","math_score"]]
BPSdf.round(2)

TtlStudentsPerBin = SchoolBudgetDF.groupby(["BPSbin"]).sum()["size"].round()
TtlStudentsPerBin

PassRead = SchoolDataMerge[SchoolDataMerge['reading_score'] >= 70]
BPSmerge = (SchoolDataMerge["budget"] / SchoolDataMerge["size"]).round(2)
PassRead["BPSmerge"] = BPSmerge
PassRead.loc[:,"BPS"] = pd.cut(PassRead["BPSmerge"],BudgetBins,labels = BudgetBinIndex)
PassReadBPSBins = PassRead.groupby("BPS").count()["Student ID"]
PercentPassReadBPS = ((PassReadBPSBins/TtlStudentsPerBin)*100).round(2)

PassMath = SchoolDataMerge[SchoolDataMerge['math_score'] >= 70]
# BPSmerge = (SchoolDataMerge["budget"] / SchoolDataMerge["size"]).round(2)
PassMath["BPSmerge"] = BPSmerge
PassMath.loc[:,"BPS"] = pd.cut(PassMath["BPSmerge"],BudgetBins,labels = BudgetBinIndex)
PassMathBPSBins = PassMath.groupby("BPS").count()["Student ID"]
PercentPassMathBPS = ((PassMathBPSBins/TtlStudentsPerBin)*100).round(2)

OverallPassPerSize = ((PercentPassReadBPS + PercentPassMathBPS)/2).round(2)
# PassRead


BudgetPerStudentSummaryDict = {
                               "Avg Reading Score": BPSdf.reading_score.round(2),
                               "Avg Math Score": BPSdf.math_score.round(2),
                               "%Passing Reading": PercentPassReadBPS,
                               "%Passing Math": PercentPassMathBPS,
                               "%Passing Overall": OverallPassPerSize
                        
                              
                              }


BPSsummary = pd.DataFrame(BudgetPerStudentSummaryDict)
BPSsummary

/Users/joel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/joel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Avg Reading Score,Avg Math Score,%Passing Reading,%Passing Math,%Passing Overall
BPS,,,,,
<$585,83.94,83.45,96.69,93.70,95.20
$585-615,83.88,83.60,95.89,94.12,95.00
$615-645,81.89,79.08,83.61,71.40,77.50
$645-675,81.03,77.00,81.11,66.23,73.67